.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.form-container {
  width: 30%;
  min-width: 300px;
  padding: 4% 30px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px rgb(236, 235, 235);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  margin-bottom: 4%;
}

.form-container .logo {
  width: 55px;
  height: 40px;
  margin-bottom: 30px;
}

.form-container h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(82, 82, 82);
}

.form-container form {
  width: 80%;
}

.form-container form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  margin-bottom: 20px;
  border: 0.5px solid rgb(238, 238, 238);
  border-radius: 2px;
  font-size: 1rem;
}

.btn-primary {
  width: 100%;
  padding: 10px 15px;
  background: orangered;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.forgot-password {
  text-decoration: none;
  color: rgb(158, 158, 158);
  font-size: 14px;
  margin-top: 30px;
}

/* sudo selectors */
.form-container form input:focus {
  outline: none;
  border-radius: 2px;
  border: 0.5px solid rgb(83, 83, 83);
}

.form-container form input:placeholder-shown {
  color: rgb(219, 219, 219);
}

.btn-primary:hover {
  background: rgb(255, 123, 75);
  cursor: pointer;
}

/* media screen */
@media screen and (max-width: 767.98px) {
  .container {
    display: block;
    padding-top: 0;
  }

  .form-container .logo {
    margin-top: 30px;
  }

  .form-container form {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}
